Repository ksquarekumar/pdm-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint, mypy, format-notebooks, lint-notebooks, tests, pdm-sync, check-vulnerabilities

Path conditions:
  format: any of: \.py$
  lint: any of: \.py$
  mypy: any of: \.py$
  format-notebooks: any of: \.(ipynb)$ and \.ipynb$
  lint-notebooks: any of: \.(ipynb)$ and \.ipynb$
  tests: any of: ^(tests)/.* and \.py$
  pdm-sync: any of: ^pyproject\.toml$
  check-vulnerabilities: any of: ^(pyproject.toml)|(requirements\.txt)$

fix: docker-compose env, pdm deps, update gha for nox
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  docker-compose.yml
  noxfile.py
  pdm.lock
  pyproject.toml
Due: format, lint, mypy, pdm-sync, check-vulnerabilities

ci: bump & cleanup
  .customWords.txt
  .github/workflows/lint.yml
  .github/workflows/pre-commit-auto-update.yml
  .pre-commit-config.yaml
  Makefile
  README.md
  cspell.config.yaml
  pdm.lock
  pyproject.toml
  requirements.txt
Due: pdm-sync, check-vulnerabilities

ci: revise & update project structure
  .customWords.txt
  .dockerignore
  .github/workflows/lint.yml
  .github/workflows/pre-commit-auto-update.yml
  .github/workflows/triage.yml
  .pre-commit-config.yaml
  .test.env
  .vscode/settings.json
  Dockerfile
  Makefile
  README.md
  docker-compose.yml
  noxfile.py
  pdm.lock
  pyproject.toml
  requirements.txt
  uv.lock
Due: format, lint, mypy, pdm-sync, check-vulnerabilities

ci: fix tests
  .github/workflows/lint.yml
  .test.env
  Dockerfile
  docker-compose.yml
  noxfile.py
  src/pdm_python/app.py
Due: format, lint, mypy

ci: (PDM-01) revise project and update ci
  .github/workflows/lint.yml
  .github/workflows/pre-commit-auto-update.yml
  .github/workflows/triage.yml
Due: none

ci: fixlint uv sync command
  .pre-commit-config.yaml
  pdm.lock
  pyproject.toml
  uv.lock
Due: pdm-sync, check-vulnerabilities

ci(PDM-1510): revise project and update ci (#11)
  .github/workflows/lint.yml
  .github/workflows/pre-commit-auto-update.yml
  .github/workflows/triage.yml
  .pre-commit-config.yaml
  pdm.lock
  pyproject.toml
  uv.lock
Due: pdm-sync, check-vulnerabilities
